$color-text: #212121;
$color-bg: #FFFFFF;
$color-primary: #1079BF;
$color-secondary: #28CF79;
$color-light-gray: #E9E9E9;
$color-icon: #687076;
$color-tab-default: #687076;
$tint-color-light: #0a7ea4;

$font-heading: "Lato", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-body: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
